CONFIG_PATH=./config/config.yml

GRPC_HOST=
GRPC_PORT=

GRPC_PAYMENT_SERVICE_HOST=
GRPC_PAYMENT_SERVICE_PORT=

POLYGON_TESTNET_NODE_ADDRESS=https://polygon-amoy-bor-rpc.publicnode.com
POLYGON_TESTNET_NODE_WEBSOCKET_ADDRESS=wss://polygon-amoy-bor-rpc.publicnode.com

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

PRIVATE_KEY_PAYMENT_SERVICE=